---
import "../styles/global.css";
import Navbar from "../components/commons/navbar/navbar.astro";
import Footer from "../components/commons/footer/footer.astro";
---

<!doctype html>
<html lang="en" class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Charlie Gallagher | AI Innovation Engineer</title>
  </head>
  <body class="bg-gray-950 text-white overflow-x-hidden">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
